@import url(https://www.svgrepo.com/show/356535/search-button.svg);
@import url(https://www.svgrepo.com/show/514275/upload-cloud.svg);

body{
  font-family: arial;
}

.header{
  display: flex;
  position: fixed;
  justify-content: center;
  padding-bottom: 20px;
  gap: 50px;
  top: 20px;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(133, 133, 133)
}

.home-button-img{
  height: 70px;
  flex: 1;
}

.home-button-img:hover{
  cursor: pointer;
}

input{
  flex-shrink: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.search-bar-div{
  display: flex;
  align-content: center;
}

.search-bar{
  flex: 1;
  padding: 1px 200px;
  padding-left: 40px;
  border: 3px solid black;
  color: rgb(95, 95, 95);
  border-radius: 10px;
  font-size: 25px;
  border-right: none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}

.search-bar::placeholder{
  color: black;
  font-size: 22px;
}

.search-bar:focus{
  flex: 1;
  padding: 1px 200px;
  padding-left: 40px;
  border: 3px solid black;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 25px;
  border-right: none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  outline:none;
}

.search-icon{
  height: 30px;
  border: none;
}

.search-icon-button{
  top: 20px;
  border: 3px solid;
  padding: 17px 15px;
  border-left: none;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: white;
}

.search-icon-button:hover{
  cursor: pointer;
}

.search-icon-button:active{
  cursor:default;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.file-upload-button{
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
}

.file-upload-button:hover{
  cursor: pointer;
}

.file-upload-button:active{
  opacity: 0.8;
}

.upload-icon-svg-path{
  height: 50px;
  align-items: center;
}

.file-upload-text{
  color: black;
}

.file-input{
  display: none;
}

.main{
  display: flex;
  position: relative;
  margin-left: 200px;
  margin-top: 200px;
}

.files-grid{
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.research-paper{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.research-paper-information-preview{
  flex: 1;
}

.research-paper-information-author{
  color: rgb(80, 80, 80);
}

.research-paper-information-title{
  width: 100%;
  font-weight: bold;
  text-align: justify;
}

.downloadpdf-button{
  width: 100%;
  color: white;
  font-size: 20px; 
  padding: 20px;
  background-color: red;
  border: none;
  border-radius: 10px;
}

.downloadpdf-button:hover{
  cursor: pointer;
}

.downloadpdf-button:active{
  opacity: 0.8;
}